
<div class= "col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by a very well known and distinguished man who was born in Germany in 1879. Albert Einstein is still considered one of the greatest minds of the 20th Century. Just kidding I made this. 
  </p>
  <br />
  <p>
    This is my first application and I hope it all works well and you enjoy it.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'einstein.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offest-sm-1">
      <h2 class="text-center">Albert Einstein</h2>
      <br />
      <p>
        Here's a silly picture of Einstein. Einstein's get-a-load-of-me portrait, taken in 1951, was almost never published. Editors with the International News Photo Network debated whether or not it would be appropriate to publish a photo of an esteemed public figure like Professor Einstein, but decided to run it when they heard how much the subject himself enjoyed the image.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />